<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
  <!-- Mirrored from pixelwibes.com/template/ebazar/html/dist/coupon-edit.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 08 Feb 2024 06:56:29 GMT -->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Coupons Edit</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <!-- Favicon-->

    <!-- project css file  -->
    <link rel="stylesheet" href="/admin/assets/css/ebazar.style.min.css" />
  </head>
  <body>
    <div id="ebazar-layout" class="theme-blue">
      <!-- sidebar -->
      <div class="sidebar px-4 py-4 py-md-4 me-0">
        <div class="d-flex flex-column h-100">
          <a href="index.html" class="mb-0 brand-icon">
            <span class="logo-icon">
              <i class="bi bi-bag-check-fill fs-4"></i>
            </span>
            <span class="logo-text">WatchVista</span>
          </a>
          <!-- Menu: main ul -->
          <ul class="menu-list flex-grow-1 mt-3">
            <li>
              <a class="m-link" href="/admin/dashboard"
                ><i class="icofont-home fs-5"></i> <span>Dashboard</span></a
              >
            </li>
            <li class="collapsed">
              <a class="m-link" href="/admin/productList">
                <i class="icofont-truck-loaded fs-5"></i> <span>Products</span>
              </a>
            </li>
            <li>
              <a class="m-link" href="/admin/categoryList"
                ><i class="icofont-chart-flow fs-5"></i>
                <span>Category</span></a
              >
            </li>
            <li>
              <a class="m-link" href="/admin/subcategoryList"
                ><i class="icofont-chart-flow fs-5"></i>
                <span>Subcategory</span></a
              >
            </li>

            <li>
              <a class="m-link" href="/admin/orders">
                <i class="icofont-notepad fs-5"></i> <span>Orders</span>
              </a>
            </li>
            <li class="collapsed"></li>
            <li>
              <a class="m-link" href="/admin/customersList"
                ><i class="icofont-funky-man fs-5"></i> <span>Users</span></a
              >
            </li>

            <li>
              <a class="m-link active" href="/admin/couponList"
                ><i class="icofont-sale-discount fs-5"></i>
                <span>Coupons</span></a
              >
            </li>

            <li>
              <a class="m-link" href="/admin/vendorsList">
                <i class="icofont-funky-man fs-5"></i> <span>Vendors</span>
              </a>
            </li>
            <li>
              <a class="m-link" href="/admin/banner"
                ><i class="icofont-page fs-5"></i> <span>Banner</span></a
              >
            </li>
          </ul>
          <!-- Menu: menu collepce btn -->
        </div>
      </div>

      <!-- main body area -->
      <div class="main px-lg-4 px-md-4">
        <!-- Body: Header -->
        <div class="header">
          <nav class="navbar py-4">
            <div class="container-xxl">
              <!-- header rightbar icon -->
              <div
                class="h-right d-flex align-items-center mr-5 mr-lg-0 order-1"
              >
                <div
                  class="dropdown user-profile ml-2 ml-sm-3 d-flex align-items-center zindex-popover"
                >
                  <div class="u-info me-2">
                    <p class="mb-0 text-end line-height-sm">
                      <span class="font-weight-bold"><%= user.name %></span>
                    </p>
                    <small>WatchVista Admin</small>
                  </div>
                  <a
                    class="nav-link dropdown-toggle pulse p-0"
                    href="#"
                    role="button"
                    data-bs-toggle="dropdown"
                    data-bs-display="static"
                  >
                    <img
                      class="avatar lg rounded-circle img-thumbnail"
                      src="/admin/assets/images/profile_av.svg"
                      alt="profile"
                    />
                  </a>
                  <div
                    class="dropdown-menu rounded-lg shadow border-0 dropdown-animation dropdown-menu-end p-0 m-0"
                  >
                    <div class="card border-0 w280">
                      <div class="card-body pb-0">
                        <div class="d-flex py-1">
                          <img
                            class="avatar rounded-circle"
                            src="/admin/assets/images/profile_av.svg"
                            alt="profile"
                          />
                          <div class="flex-fill ms-3">
                            <p class="mb-0">
                              <span class="font-weight-bold"
                                ><%= user.name %></span
                              >
                            </p>
                            <small class=""><%= user.email %></small>
                          </div>
                        </div>

                        <div><hr class="dropdown-divider border-dark" /></div>
                      </div>
                      <div class="list-group m-2">
                        <a
                          href="/admin/logout"
                          class="list-group-item list-group-item-action border-0"
                          ><i class="icofont-logout fs-5 me-3"></i>Signout</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- menu toggler -->
              <button
                class="navbar-toggler p-0 border-0 menu-toggle order-3"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#mainHeader"
              >
                <span class="fa fa-bars"></span>
              </button>

              <!-- main menu Search-->
              <div
                class="order-0 col-lg-4 col-md-4 col-sm-12 col-12 mb-3 mb-md-0"
              >
                <div class="input-group flex-nowrap input-group-lg">
                  <input
                    type="search"
                    class="form-control"
                    placeholder="Search"
                    aria-label="search"
                    aria-describedby="addon-wrapping"
                  />
                  <button
                    type="button"
                    class="input-group-text"
                    id="addon-wrapping"
                  >
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </div>
            </div>
          </nav>
        </div>

        <!-- Body: Body -->
        <div class="body d-flex py-lg-3 py-md-2">
          <div class="container-xxl">
            <div class="row align-items-center">
              <div class="border-0 mb-4">
                <div
                  class="card-header py-3 no-bg bg-transparent d-flex align-items-center px-0 justify-content-between border-bottom flex-wrap"
                >
                  <h3 class="fw-bold mb-0">Coupons Edit</h3>
                </div>
              </div>
            </div>
            <!-- Row end  -->
            <form action="" method="post" id="editCouponForm">
              <div class="row clearfix g-3">
                <div class="col-lg-4">
                  <!-- Coupon Status Card -->
                  <div class="card mb-3">
                    <!-- Card Header -->
                    <div
                      class="card-header py-3 d-flex justify-content-between align-items-center bg-transparent border-bottom-0"
                    >
                      <h6 class="m-0 fw-bold">Coupon Status</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                      <div class="form-check">
                        <input class="form-check-input" type="radio"
                        name="couponStatus" value="Active" <%=
                        couponForEdit.couponStatus === 'Active' ? 'checked' : ''
                        %>>
                        <label class="form-check-label">Active</label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio"
                        name="couponStatus" value="InActive" <%=
                        couponForEdit.couponStatus === 'InActive' ? 'checked' :
                        '' %>>
                        <label class="form-check-label">In Active</label>
                      </div>
                    </div>
                  </div>

                  <!-- Date Schedule Card -->
                  <div class="card">
                    <!-- Card Header -->
                    <div
                      class="card-header py-3 d-flex justify-content-between align-items-center bg-transparent border-bottom-0"
                    >
                      <h6 class="m-0 fw-bold">Date Schedule</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                      <div class="row g-3 align-items-center">
                        <div class="col-md-12">
                          <label class="form-label">End Date</label>
                          <input
                            type="date"
                            name="endDate"
                            class="form-control w-100"
                            value="<%= couponForEdit.endDate.toISOString().split('T')[0] %>"
                            required=""
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-8">
                  <!-- Coupon Information Card -->
                  <div class="card mb-3">
                    <!-- Card Header -->
                    <div
                      class="card-header py-3 d-flex justify-content-between align-items-center bg-transparent border-bottom-0"
                    >
                      <h6 class="m-0 fw-bold">Coupon Information</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                      <div class="row g-3 align-items-center">
                        <div class="col-md-6">
                          <label class="form-label">Coupons Code</label>
                          <input
                            type="text"
                            name="couponCode"
                            class="form-control"
                            value="<%= couponForEdit.couponCode %>"
                          />
                        </div>

                        <div class="col-md-12">
                          <label class="form-label">Coupons Types</label>
                          <div class="form-check">
                            <input class="form-check-input" type="radio"
                            name="couponType" value="Percentage" <%=
                            couponForEdit.couponType === 'Percentage' ?
                            'checked' : '' %>>
                            <label class="form-check-label">Percentage</label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio"
                            name="couponType" value="Fixed Amount" <%=
                            couponForEdit.couponType === 'Fixed Amount' ?
                            'checked' : '' %>>
                            <label class="form-check-label">Fixed Amount</label>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <label class="form-label">Discount value</label>
                          <input
                            type="text"
                            name="discountValue"
                            class="form-control"
                            value="<%= couponForEdit.discountValue %>"
                          />
                        </div>
                      </div>
                      <button
                        type="button"
                        onclick="couponEdit('<%= couponForEdit._id %>')"
                        class="btn btn-primary mt-4 text-uppercase px-5"
                      >
                        Submit
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Row End -->
            </form>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
      function couponEdit(id) {
        console.log("id for editing coupon :", id);

        const formData = new FormData(
          document.getElementById("editCouponForm")
        );

        const data = {};
        for (const [key, value] of formData.entries()) {
          data[key] = value;
        }

        console.log("data for edit coupon :", data);

        axios
          .put("/admin/editCouponPost", { data, id })
          .then((response) => {
            if (response.status === 200) {
              window.location.href = "/admin/couponList";
            }
          })
          .catch((error) => {
            console.log("error from edit coupon : ", error);
          });
      }
    </script>
    <!-- Jquery Core Js -->
    <script src="admin/assets/bundles/libscripts.bundle.js"></script>

    <!-- Jquery Page Js -->
    <script src="../js/template.js"></script>
  </body>

  <!-- Mirrored from pixelwibes.com/template/ebazar/html/dist/coupon-edit.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 08 Feb 2024 06:56:29 GMT -->
</html>
