<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
  <!-- Mirrored from pixelwibes.com/template/ebazar/html/dist/coupons-list.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 08 Feb 2024 06:56:29 GMT -->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Admin | Coupons List</title>
    <link rel="icon" href="" type="" />
    <!-- Favicon-->

    <!-- plugin css file  -->
    <link
      rel="stylesheet"
      href="assets/plugin/datatables/responsive.dataTables.min.css"
    />
    <link
      rel="stylesheet"
      href="assets/plugin/datatables/dataTables.bootstrap5.min.css"
    />

    <!-- project css file  -->
    <link rel="stylesheet" href="assets/css/ebazar.style.min.css" />
  </head>
  <body>
    <div id="ebazar-layout" class="theme-blue">
      <!-- sidebar -->
      <div class="sidebar px-4 py-4 py-md-4 me-0">
        <div class="d-flex flex-column h-100">
          <a href="index.html" class="mb-0 brand-icon">
            <span class="logo-icon">
              <i class="bi bi-bag-check-fill fs-4"></i>
            </span>
            <span class="logo-text">WatchVista</span>
          </a>
          <!-- Menu: main ul -->
          <ul class="menu-list flex-grow-1 mt-3">
            <li>
              <a class="m-link" href="/admin/dashboard"
                ><i class="icofont-home fs-5"></i> <span>Dashboard</span></a
              >
            </li>
            <li class="collapsed">
              <a class="m-link" href="/admin/productList">
                <i class="icofont-truck-loaded fs-5"></i> <span>Products</span>
              </a>
            </li>
            <li>
              <a class="m-link" href="/admin/categoryList"
                ><i class="icofont-chart-flow fs-5"></i>
                <span>Category</span></a
              >
            </li>
            <li>
              <a class="m-link" href="/admin/subcategoryList"
                ><i class="icofont-chart-flow fs-5"></i>
                <span>Subcategory</span></a
              >
            </li>

            <li>
              <a class="m-link" href="/admin/orders">
                <i class="icofont-notepad fs-5"></i> <span>Orders</span>
              </a>
            </li>
            <li class="collapsed"></li>
            <li>
              <a class="m-link" href="/admin/customersList"
                ><i class="icofont-funky-man fs-5"></i> <span>Users</span></a
              >
            </li>

            <li>
              <a class="m-link active" href="/admin/couponList"
                ><i class="icofont-sale-discount fs-5"></i>
                <span>Coupons</span></a
              >
            </li>

            <li>
              <a class="m-link" href="/admin/vendorsList">
                <i class="icofont-funky-man fs-5"></i> <span>Vendors</span>
              </a>
            </li>
            <li>
              <a class="m-link" href="/admin/banner"
                ><i class="icofont-page fs-5"></i> <span>Banner</span></a
              >
            </li>
          </ul>
        </div>
      </div>

      <!-- main body area -->
      <div class="main px-lg-4 px-md-4">
        <!-- Body: Header -->
        <div class="header">
          <nav class="navbar py-4">
            <div class="container-xxl">
              <!-- header rightbar icon -->
              <div
                class="h-right d-flex align-items-center mr-5 mr-lg-0 order-1"
              >
                <div
                  class="dropdown user-profile ml-2 ml-sm-3 d-flex align-items-center zindex-popover"
                >
                  <div class="u-info me-2">
                    <p class="mb-0 text-end line-height-sm">
                      <span class="font-weight-bold"><%= user.name %></span>
                    </p>
                    <small>WatchVista Admin</small>
                  </div>
                  <a
                    class="nav-link dropdown-toggle pulse p-0"
                    href="#"
                    role="button"
                    data-bs-toggle="dropdown"
                    data-bs-display="static"
                  >
                    <img
                      class="avatar lg rounded-circle img-thumbnail"
                      src="assets/images/profile_av.svg"
                      alt="profile"
                    />
                  </a>
                  <div
                    class="dropdown-menu rounded-lg shadow border-0 dropdown-animation dropdown-menu-end p-0 m-0"
                  >
                    <div class="card border-0 w280">
                      <div class="card-body pb-0">
                        <div class="d-flex py-1">
                          <img
                            class="avatar rounded-circle"
                            src="assets/images/profile_av.svg"
                            alt="profile"
                          />
                          <div class="flex-fill ms-3">
                            <p class="mb-0">
                              <span class="font-weight-bold"
                                ><%= user.name %></span
                              >
                            </p>
                            <small class=""><%= user.email %></small>
                          </div>
                        </div>

                        <div><hr class="dropdown-divider border-dark" /></div>
                      </div>
                      <div class="list-group m-2">
                        <a
                          href="/admin/logout"
                          class="list-group-item list-group-item-action border-0"
                          ><i class="icofont-logout fs-5 me-3"></i>Signout</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- menu toggler -->
              <button
                class="navbar-toggler p-0 border-0 menu-toggle order-3"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#mainHeader"
              >
                <span class="fa fa-bars"></span>
              </button>

              <!-- main menu Search-->
              <div
                class="order-0 col-lg-4 col-md-4 col-sm-12 col-12 mb-3 mb-md-0"
              >
                <div class="input-group flex-nowrap input-group-lg">
                  <input
                    type="search"
                    class="form-control"
                    placeholder="Search"
                    aria-label="search"
                    aria-describedby="addon-wrapping"
                  />
                  <button
                    type="button"
                    class="input-group-text"
                    id="addon-wrapping"
                  >
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </div>
            </div>
          </nav>
        </div>

        <!-- Body: Body -->
        <div class="body d-flex py-lg-3 py-md-2">
          <div class="container-xxl">
            <div class="row align-items-center">
              <div class="border-0 mb-4">
                <div
                  class="card-header py-3 no-bg bg-transparent d-flex align-items-center px-0 justify-content-between border-bottom flex-wrap"
                >
                  <h3 class="fw-bold mb-0">Coupons</h3>
                  <div class="col-auto d-flex w-sm-100">
                    <a
                      href="/admin/couponAddGet    "
                      class="btn btn-primary btn-set-task w-sm-100"
                      ><i class="icofont-plus-circle me-2 fs-6"></i>Add
                      Coupons</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <!-- Row end  -->
            <div class="row clearfix g-3">
              <div class="col-sm-12">
                <div class="card mb-3">
                  <div class="card-body">
                    <table
                      id="myProjectTable"
                      class="table table-hover align-middle mb-0"
                      style="width: 100%"
                    >
                      <thead>
                        <tr>
                          <th>Coupons Code</th>
                          <th>Type</th>
                          <th>Discount value</th>
                          <th>End Date</th>
                          <th>Status</th>
                          <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% coupons.forEach(coupon => { %>
                        <tr>
                          <td>
                            <span class="fw-bold ms-1">
                              <%= coupon.couponCode %>
                            </span>
                          </td>
                          <td><%= coupon.couponType %></td>
                          <td><%= coupon.discountValue %></td>
                          <td>
                            <%= new
                            Date(coupon.endDate).toLocaleDateString('en-US', {
                            year:'numeric', month:'long', day:'numeric',
                            hour:'numeric' , minute:'numeric'}) %>
                          </td>
                          <td>
                            <span class="badge bg-dark"
                              ><%= coupon.couponStatus %></span
                            >
                          </td>
                          <td>
                            <div
                              class="btn-group"
                              role="group"
                              aria-label="Basic outlined example"
                            >
                              <a
                                href="/admin/editCouponGet/<%= coupon._id %>"
                                class="btn btn-outline-secondary"
                                ><i class="icofont-edit text-success"></i
                              ></a>
                              <button
                                type="button"
                                class="btn btn-outline-secondary deleterow"
                                onclick="deleteCoupon('<%= coupon._id %>')"
                              >
                                <i class="icofont-ui-delete text-danger"></i>
                              </button>
                            </div>
                          </td>
                        </tr>
                        <% }) %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <!-- Row End -->
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
      function deleteCoupon(id) {
        console.log("id for deleting coupon :", id);
        axios
          .delete(`/admin/deleteCoupon/${id}`)
          .then((response) => {
            location.reload();
          })
          .catch((error) => {
            console.log("response form copon deletion error ", error);
          });
      }
    </script>

    <!-- Jquery Core Js -->
    <script src="assets/bundles/libscripts.bundle.js"></script>

    <!-- Plugin Js-->
    <script src="assets/bundles/dataTables.bundle.js"></script>

    <!-- Jquery Page Js -->
    <script src="../js/template.js"></script>
    <script>
      // project data table
      $(document).ready(function () {
        $("#myProjectTable")
          .addClass("nowrap")
          .dataTable({
            responsive: true,
            columnDefs: [{ targets: [-1, -3], className: "dt-body-right" }],
          });
        $(".deleterow").on("click", function () {
          var tablename = $(this).closest("table").DataTable();
          tablename.row($(this).parents("tr")).remove().draw();
        });
      });
    </script>
  </body>

  <!-- Mirrored from pixelwibes.com/template/ebazar/html/dist/coupons-list.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 08 Feb 2024 06:56:29 GMT -->
</html>
