<!DOCTYPE html>
<html lang="zxx">


<!-- Mirrored from htmldemo.net/tuime/tuime/account.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 10 Feb 2024 04:43:25 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Tuime - Animal Food Website Template"/>
    <meta name="keywords" content="accessories, digital products, electronic html, modern, products, responsive"/>
    <meta name="author" content="hastech"/>

    <title>Account </title>

    <!--== Favicon ==-->
    <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon" />

    <!--== Google Fonts ==-->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600&amp;display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">



<!-- ----------------------------------- -->
  <!-- CSS here -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/fontawesome.min.css">
  <link rel="stylesheet" href="css/jquery-ui.css">
  <link rel="stylesheet" href="css/animate.min.css">
  <link rel="stylesheet" href="css/magnific-popup.css">
  <link rel="stylesheet" href="css/fontawesome-all.min.css">
  <link rel="stylesheet" href="css/meanmenu.css">
  <link rel="stylesheet" href="css/slick.css">
  <link rel="stylesheet" href="css/default.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/responsive.css">

<!-- ----------------------------------- -->


    <!--== Bootstrap CSS ==-->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <!--== Font Awesome Min Icon CSS ==-->
    <link href="assets/css/font-awesome.min.css" rel="stylesheet" />
    <!--== 7 Stroke Icon CSS ==-->
    <link href="assets/css/pe-icon-7-stroke.css" rel="stylesheet" />
    <!--== Swiper CSS ==-->
    <link href="assets/css/swiper.min.css" rel="stylesheet" />
    <!--== Fancybox Min CSS ==-->
    <link href="assets/css/fancybox.min.css" rel="stylesheet" />
    <!--== Range Slider Min CSS ==-->
    <link href="assets/css/ion.rangeSlider.min.css" rel="stylesheet" />

    <!--== Main Style CSS ==-->
    <link href="assets/css/style.css" rel="stylesheet" />

    <style>
      .logout-link {
    color: inherit; /* Inherit text color from parent (button) by default */
    text-decoration: none; /* Remove underline from anchor tag */
    transition: color 0.3s ease; /* Smooth transition for color change */
}

/* Hover effect for the anchor tag inside the button */
.logout-link:hover {
    color: white; /* Change text color to white on hover */
}

/* Remove button styles to only show the anchor tag */
.nav-link {
    border: none; /* Remove button border */
    background: none; /* Remove button background */
    padding: 0; /* Remove button padding */
    cursor: pointer; /* Show pointer cursor on hover */
}
    </style>
</head>

<body>

<!-- preloader -->
<div id="loader-wrapper">
  <div id="loader"></div>
</div>

 

  <!-- header section start -->
  <header class="header header-2 pt-30 pb-20  header-sticky header-static">
    <div class="container-fluid">
        <div class="header-nav header-nav-2 position-relative">
            <div class="row align-items-center">
                <div class="col-xl-5 col-lg-6 hidden-md position-static">
                    <div class="header-nav">
                        <nav>
                            <ul>
                                <li>
                                    <a href="/">
                                        <span>Home </span>
                                    </a>
                                </li>

                                <li class="position-static">
                                    <a href="/shop">
                                        <span>Shop</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="">
                                        <span>Blog</span> 
                                    </a>
                                </li>
                          
                                <li>
                                    <a href="">
                                        <span>About</span>
                                    </a>
                                     
                                </li>
                                <li>
                                    <a href="">
                                        <span>Contact</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-3">
                        <div class="logo">
                            <a href="index3.html"><img src="img/logo/logo1.png" alt=""></a>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-3 col-6 col-md-6 col-sm-6 col-9">
                        <div class="header-right">
                            <ul class="text-right">
                                <li><a href="/login" class="account"><i class="fal fa-user-friends"></i> <article class="account-registar d-inline-block"></article></a></li>
                                <li><a href="wishlist.html" data-toggle="tooltip" data-placement="bottom" title="view wishlist"><i class="fal fa-heart"><span>0</span></i></a></li>
                                <li><a href="/cart"><i class="fal fa-shopping-bag"><span><%= user.cart.products.length %></span></i></a>             </li>
                                <li><a href="javascript:void(0)"><i class="fal fa-align-right"></i></a>
                                    <ul class="submenu bold-content text-right">
                                        <li><a href="/userProfile">My Account</a></li>
                                        <li><a href="wishlist.html">Wishlist</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
        </div>
        <div class="mobile-menu visible-sm">
            <div id="mobile-menu">
                <ul>
                    <li><a  class="pl-3" href="">Home</a></li>
                    <li><a  class="pl-3" href="">Shop</a></li>
                    <li><a href="">Blog</a></li>
                    <li><a href="">Portfolio</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </div>
        </div>
        <!-- /. mobile nav -->
    </div>
</header>
<!-- header section end -->

  
    <main class="main-content" >
        <!--== Start My Account Wrapper ==-->
        <section class="my-account-area">
        <div class="container pt--0 pb--0">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="myaccount-page-wrapper">
                            <div class="row">
                                <div class="col-lg-3 col-md-4">
                                    <nav>
                                        <div class="myaccount-tab-menu nav nav-tabs" id="nav-tab" role="tablist">
                                            <button class="nav-link active" id="dashboad-tab" data-bs-toggle="tab" data-bs-target="#dashboad" type="button" role="tab" aria-controls="dashboad" aria-selected="true">Dashboard</button>
                                            <button class="nav-link" id="orders-tab" data-bs-toggle="tab" data-bs-target="#orders" type="button" role="tab" aria-controls="orders" aria-selected="false">Orders</button>
                                            <!-- <button class="nav-link" id="payment-method-tab" data-bs-toggle="tab" data-bs-target="#payment-method" type="button" role="tab" aria-controls="payment-method" aria-selected="false">Payment Method</button> -->
                                            <button class="nav-link" id="address-edit-tab" data-bs-toggle="tab" data-bs-target="#address-edit" type="button" role="tab" aria-controls="address-edit" aria-selected="false">address</button>
                                            <button class="nav-link" id="account-info-tab" data-bs-toggle="tab" data-bs-target="#account-info" type="button" role="tab" aria-controls="account-info" aria-selected="false">Account Details</button>
                                            <button class=" logout-link nav-link"  type="button"><a class="text-decoration-none text-dark" href="/user/logout">Logout</a></button>
                                        </div>
                                    </nav>
                                </div>  
                                <div class="col-lg-7 col-md-8">
                                    <div class="tab-content" id="nav-tabContent">
                                        <div class="tab-pane fade show active" id="dashboad" role="tabpanel" aria-labelledby="dashboad-tab">
                                            <div class="myaccount-content">
                                                <h3>Dashboard</h3>
                                                <div class="welcome">
                                                    <h3>Hello, <%= user.name %></h3>
                                                </div>
                                                <p>From your account dashboard. you can easily check & view your recent orders, manage your shipping and billing addresses and edit your password and account details.</p>
                                            </div>
                                        </div>

                                        <div class="tab-pane fade" id="address-edit" role="tabpanel" aria-labelledby="address-edit-tab">
                                            <div class="myaccount-content">
                                                
                                                <!-- Button trigger modal -->
                                                <div class="d-flex justify-content-between">
                                                    <h3>Addresses</h3>
                                                    <button type="button" class="text-center" data-toggle="modal" data-target="#exampleModal" style="background-color: #525151; color: white; width: auto; height: 30px; border-radius: 5px; border: 2px;" >
                                                        Add new address
                                                    </button>
                                                </div>
                                            
                                               
                                                <div class="" >
                                                    <div id="addressList">
                                                        <!-- Checkbox for Delivery Address -->
                                                        <% addresses.forEach(address => { %>
                                                        <div class="my-3 px-4 py-3 form-check rounded d-flex justify-content-between" style="border: 2px solid rgb(223, 223, 223); background-color: rgb(246, 246, 246);">
                                                            <div>
                                                                <p class="m-0"><strong><%= address.name %></strong></p>
                                                                <p class="m-0"><%= address.address %></p>
                                                                <p class="m-0"><%= address.district %>, <%= address.state %>, <%= address.zip %></p>
                                                                <p class="m-0"><%= address.email %></p>
                                                                <p class="m-0"><%= address.phone %></p>
                                                            </div>

                                                            <!-- Edit and Delete Buttons -->
                                                            <div class="mt-3 ">
                                                                <button type="button" class="btn btn-sm border edit-address-btn" data-toggle="modal" data-target="#editAddressModal" data-address-id="<%= address._id %>">
                                                                    <i class="fas fa-edit text-success"></i>
                                                                </button>
                                                                <button type="button" class="btn btn-sm border ml-2 delete-address-btn" data-address-id="<%= address._id %>">
                                                                    <i class="fas fa-trash text-danger"></i> 
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <% }) %>
                                                    </div>
                                                 
                                                </div>

                                                <!-- Modal for add address -->
                                                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">New Address</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form id="addressForm" class="row g-3" novalidate>
                                                                    <div class="col-12 p-2">
                                                                        <label for="name" class="form-label">Name</label>
                                                                        <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                                                                        <!-- <div class="invalid-feedback">
                                                                            Please enter your name.
                                                                        </div> -->
                                                                    </div>
                                                                    <div class="col-12 p-2">
                                                                        <label for="address" class="form-label">Address</label>
                                                                        <input type="text" name="address" class="form-control" id="address" placeholder="Enter your address" required>
                                                                        <!-- <div class="invalid-feedback">
                                                                            Please enter your address.
                                                                        </div> -->
                                                                    </div>
                                                                    <div class="col-md-6 p-2">
                                                                        <label for="district" class="form-label">District</label>
                                                                        <input type="text" name="district" class="form-control" id="district" placeholder="Town or city" required>
                                                                        <!-- <div class="invalid-feedback">
                                                                            Please enter your district.
                                                                        </div> -->
                                                                    </div>
                                                                    <div class="col-md-6 p-2">
                                                                        <label for="state" class="form-label">State</label>
                                                                        <input type="text" name="state" class="form-control" id="state" placeholder="Enter your state" required>
                                                                        <!-- <div class="invalid-feedback">
                                                                            Please enter your state.
                                                                        </div> -->
                                                                    </div>
                                                                    <div class="col-md-6 p-2">
                                                                        <label for="zip" class="form-label">Zip</label>
                                                                        <input type="text" name="zip" class="form-control" id="zip" placeholder="Zip/Postal" required>
                                                                        <!-- <div class="invalid-feedback">
                                                                            Please enter a valid zip code.
                                                                        </div> -->
                                                                    </div>
                                                                    <div class="col-md-6 p-2">
                                                                        <label for="phone" class="form-label">Phone Number</label>
                                                                        <input type="tel" name="phone" class="form-control" id="phone" placeholder="Your Phone" required>
                                                                        <!-- <div class="invalid-feedback">
                                                                            Please provide a valid phone number.
                                                                        </div> -->
                                                                    </div>
                                                                    <div class="col-12 p-2">
                                                                        <label for="email" class="form-label">Email Address</label>
                                                                        <input type="email" name="email" class="form-control" id="email" placeholder="Your Email" required>
                                                                        <!-- <div class="invalid-feedback">
                                                                            Please provide a valid email.
                                                                        </div> -->
                                                                    </div>

                                                                    <div class="col-12 pt-3">
                                                                        <button type="button" id="submitAddressBtn" class="btn btn-primary" data-dismiss="modal">Submit</button>
                                                                    </div>
                                                                </form>
                                                                   
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- address modal ends here -->

                                                <!-- modal for edit address starts here -->
                                                <div class="modal fade" id="editAddressModal" tabindex="-1" role="dialog" aria-labelledby="editAddressModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="editAddressModalLabel">New Address</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form id="editAddressForm" class="row g-3" novalidate>
                                                                    <div class="col-12 p-2">
                                                                        <label for="editName" class="form-label">Name</label>
                                                                        <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                                                                        <!-- <div class="invalid-feedback">
                                                                            Please enter your name.
                                                                        </div> -->
                                                                    </div>
                                                                    <div class="col-12 p-2">
                                                                        <label for="editAddress" class="form-label">Address</label>
                                                                        <input type="text" name="address" class="form-control" id="address" placeholder="Enter your address" required>
                                                                        <!-- <div class="invalid-feedback">
                                                                            Please enter your address.
                                                                        </div> -->
                                                                    </div>
                                                                    <div class="col-md-6 p-2">
                                                                        <label for="editDistrict" class="form-label">District</label>
                                                                        <input type="text" name="district" class="form-control" id="district" placeholder="Town or city" required>
                                                                        <!-- <div class="invalid-feedback">
                                                                            Please enter your district.
                                                                        </div> -->
                                                                    </div>
                                                                    <div class="col-md-6 p-2">
                                                                        <label for="editState" class="form-label">State</label>
                                                                        <input type="text" name="state" class="form-control" id="state" placeholder="Enter your state" required>
                                                                        <!-- <div class="invalid-feedback">
                                                                            Please enter your state.
                                                                        </div> -->
                                                                    </div>
                                                                    <div class="col-md-6 p-2">
                                                                        <label for="editZip" class="form-label">Zip</label>
                                                                        <input type="text" name="zip" class="form-control" id="zip" placeholder="Zip/Postal" required>
                                                                        <!-- <div class="invalid-feedback">
                                                                            Please enter a valid zip code.
                                                                        </div> -->
                                                                    </div>
                                                                    <div class="col-md-6 p-2">
                                                                        <label for="editPhone" class="form-label">Phone Number</label>
                                                                        <input type="tel" name="phone" class="form-control" id="phone" placeholder="Your Phone" required>
                                                                        <!-- <div class="invalid-feedback">
                                                                            Please provide a valid phone number.
                                                                        </div> -->
                                                                    </div>
                                                                    <div class="col-12 p-2">
                                                                        <label for="editEmail" class="form-label">Email Address</label>
                                                                        <input type="email" name="email" class="form-control" id="email" placeholder="Your Email" required>
                                                                        <!-- <div class="invalid-feedback">
                                                                            Please provide a valid email.
                                                                        </div> -->
                                                                    </div>

                                                                    <div class="col-12 pt-3">
                                                                        <button type="button" id="submitAddressBtn" class="btn btn-primary" data-dismiss="modal">Submit</button>
                                                                    </div>
                                                                </form>
                                                                   
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="tab-pane fade" id="account-info" role="tabpanel" aria-labelledby="account-info-tab">
                                            <div class="myaccount-content">
                                                <h3>Account Details</h3>

                                                <form action="" class="form-control">
                                                    <label for="" class="">Name</label><br>
                                                    <input type="text" class="col-8" value="<%= user.name %>"><br>

                                                    <label for="" class="">Email</label><br>
                                                    <input type="text" class="col-8" value="<%= user.email %>"><br>

                                                    <label for="" class="">Phone</label><br>
                                                    <input type="text" class="col-8" value="<%= user.phoneNumber %>"><br>

                                                </form>
                                                
                                            </div>
                                        </div>

                                        <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                                            <div class="myaccount-content">
                                                <h3>Orders</h3>
                                                
                                                <% if (user.orders.length > 0) { %>
                                                <% cart.forEach((prod) => { %>
                                                <div class="myaccount-table table-responsive text-center">
                                                    <!-- ORDER HISTORY TABLE STARTS ----------------------------------------------------------------------->  
                                                    <div class="d-flex py-3 my-3 align-items-center " style="border: 2px solid rgb(224, 222, 222); background-color: #eeeeee;">

                                                        <div class="product col-4">
                                                        <img src="<%= prod.images[0] %>" alt="" width="150px">

                                                        <div class="mt-5">
                                                            <% if (prod.orderStatus !== 'Requested for Cancellation' && prod.orderStatus !== 'Cancelled') { %>
                                                            <button class="rounded" onclick="openCancelModal('<%= prod.orderId %>', '<%= prod._id %>')">Cancel Order</button>
                                                            <% } else { %>
                                                            <button class="rounded" disabled>Cancel Order</button>
                                                            <% } %>
                                                        </div>
                                                        </div>

                                                        <div class="d-grid text-start">
                                                        <h6><%= prod.name %></6>
                                                        <p class="m-0">Color: <%= prod.color %></p>
                                                        <p class="m-0">Size: <%= prod.size %> & Quantity: <%= prod.quantity %></p>
                                                        <p class="m-0">Price:  <%= prod.price %></p>
                                                        <p class="m-0">Seller: <%= prod.vendor.vendorName %></p>
                                                        <p class="m-0">Expected Delivery: <%= prod.expectedDeliveryDate %></p>
                                                        <p class="m-0">Order Status: <%= prod.orderStatus %></p>
                                                        <p class="m-0">Delivery Address: <%= prod.shippingAddress.name %>,<br><%= prod.shippingAddress.address %>,<br><%= prod.shippingAddress.district %>, <%= prod.shippingAddress.zip %>,<%= prod.shippingAddress.state %>,<%= prod.shippingAddress.phone %></p>
                                                        </div>
                                                    </div>
                                                        
                                                    <!-- MODAL FOR ORDER CANCELLATION -->
                                                    <div class="modal fade" id="cancelModal_<%= prod._id %>" tabindex="-1" aria-labelledby="cancelModalLabel_<%= prod._id %>" aria-hidden="true">
                                                        <div class="modal-dialog modal-dialog-centered">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="cancelModalLabel_<%= prod._id %>">Cancel Order</h5>
                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <form id="cancelOrderForm_<%= prod._id %>" onsubmit="submitCancellation(event, $('#orderIdInput_<%= prod._id %>').val(), '<%= prod._id %>')">
                                                                        <div class="mb-3">
                                                                            <label for="cancelReason_<%= prod._id %>" class="form-label">Cancellation Reason</label>
                                                                            <textarea class="form-control" id="cancelReason_<%= prod._id %>" name="cancelReason" rows="3" required></textarea>
                                                                        </div>
                                                                        <input type="hidden" id="orderIdInput_<%= prod._id %>" value="<%= prod.orderId %>">
                                                                        <button type="submit" class="btn btn-primary">Submit</button>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <% }) %>
                                                <% } else { %>
                                                <p>No orders found.</p>
                                                <% } %>
                                            </div>    
                                        </div>

                                        
                                        <!-- ORDER HISTORY TABLE ENDS ----------------------------------------------------------------------->
                                        
                                    </div>   
                                </div>
                            </div>
                        </div>
                    
                    </div>
                </div>
            </div>    
        </section>
        <!--== End My Account Wrapper ==-->
    </main>

    <!-- footer section start -->
    <section class="footer">
        <div class="footer-bottom " style="background-color: #292929;padding-top: 77px; padding-bottom: 40px;">
            <div class="container-1180">
                <div class="footer-bottom-wrapper">
                    <div class="footer-bottom-primary pb-60">
                        <div class="row">
                            <div class="col-xl-5 col-lg-5 col-md-9">
                                <div class="footer-item has-desc">
                                    <div class="footer-logo mb-25">
                                        <img src="img/logo/logo2.png" width="120" height="31" alt="">
                                    </div>
                                    <div class="footer-desc">
                                        <p class="mb-10">WatchVista store is destination for exquisite timepieces that blend style, precision, and craftsmanship. We pride ourselves on curating a collection that caters to watch enthusiasts, fashion aficionados, and those seeking the perfect blend of elegance and functionality.</p>
                                    </div>
                                    <div class="footer-img mt-65">
                                        <img src="img/logo/paypal.png" alt="">
                                    </div>
                                </div>
                             </div>
                             <div class="col-xl-7 col-lg-7 col-md-12">
                                <div class="row">
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-6">
                                        <div class="footer-menu">
                                            <ul>
                                                <li><a href="javascript:void(0)" class="title">MY ACCOUNT</a></li>
                                                <li><a href="/login">My account</a></li>
                                                <li><a href="checkout.html">Checkout</a></li>
                                                <li><a href="shop2.html">Shop</a></li>
                                                <li><a href="wishlist.html">Wishlist</a></li>
                                                <li><a href="question.html">Frequently</a></li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-6">
                                        <div class="footer-menu">
                                            <ul>
                                                <li><a href="javascript:void(0)" class="title">Quick Links</a></li>
                                                <li><a href="shop2.html">Special Offers</a></li>
                                                <li><a href="shop2.html">Gift Cards</a></li>
                                                <li><a href="shop2.html">F21 Red</a></li>
                                                <li><a href="about.html">Privacy Policy</a></li>
                                                <li><a href="about.html">Teams of Use</a></li>
                                                <li><a href="portfolio.html">Portfolio</a></li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 hidden-sm">
                                        <div class="footer-menu">
                                            <ul>
                                                 <li><a href="javascript:void(0)" class="title">Company Info</a></li>
                                                 <li><a href="about.html">About us</a></li>
                                                 <li><a href="blog.html">Careers</a></li>
                                                 <li><a href="portfolio2.html">Business With Us</a></li>
                                                 <li><a href="shop2.html">Find a Store</a></li>
                                                 <li><a href="question.html">Teams of Use</a></li>
                                                 <li><a href="portfolio3.html">Press &amp; Talent</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- footer section end -->

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
    // WHEN THE USER PRODFILE PAGE LOADS AFTER ORDER PLACED
    window.addEventListener('DOMContentLoaded', () => {
    const urlParams = new URLSearchParams(window.location.search);
    const showOrders = urlParams.get('showOrders');

    if (showOrders === 'true') {
        // SIMULATE A CLICK ON THE ORDERS BUTTON
        const ordersTab = document.getElementById('orders-tab');
        if (ordersTab) {
        ordersTab.click();
        }
    }
    });


    // FUCTION FOR OPEN MODAL
    function openCancelModal(orderId, productId) {
        console.log("Opening modal for Order ID:", orderId, "Product ID:", productId);
        $('#orderIdInput_' + productId).val(orderId);
        $('#cancelModal_' + productId).modal('show');
    }

    // FUNCTION FOR POST CANCELLATION REASON
    function submitCancellation(event, orderId, productId) {
        event.preventDefault();

        const cancelReason = $('#cancelReason_' + productId).val();

        axios.post(`/cancelOrder/${orderId}/${productId}`, { cancelReason })
        .then(response => {
            console.log("Cancellation successful:", response.data);
            const statusElement = $('#orderStatus_' + productId);
            statusElement.text("Requested for Cancellation");

            $('#cancelModal_' + productId).modal('hide');
        })
        .catch(error => {
            console.error(error);
        });
    }

    // ADDRESS SUBMISSION WITH VALIDATION
    document.getElementById("submitAddressBtn").addEventListener("click", function(event) {
    
        var form = document.getElementById('addressForm');

        if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
            form.classList.add('was-validated');
        } else {

            const formData = {
                name: document.getElementById("name").value,
                address: document.getElementById("address").value,
                district: document.getElementById("district").value,
                state: document.getElementById("state").value,
                zip: document.getElementById("zip").value,
                email: document.getElementById("email").value,
                phone: document.getElementById("phone").value
            };

            axios.post('/add-address', formData)
            .then(function (response) {

                $('#exampleModal').modal('hide');

                form.reset();
                form.classList.remove('was-validated');

                var newAddress = response.data;
                var addressHtml = `
                    <div class="mb-3 px-4 py-3 form-check rounded d-flex justify-content-between" style="border: 2px solid rgb(223, 223, 223); background-color: rgb(246, 246, 246);" >
                        <div>
                            <p class="m-0"><strong>${newAddress.addedAddress.name}</strong></p>
                            <p class="m-0"><strong>${newAddress.addedAddress.address}</strong></p>
                            <p class="m-0"><strong>${newAddress.addedAddress.district}, ${newAddress.addedAddress.state}, ${newAddress.addedAddress.zip}</strong></p>
                            <p class="m-0"><strong>${newAddress.addedAddress.email}</strong></p>
                            <p class="m-0"><strong>${newAddress.addedAddress.phone}</strong></p>
                        </div>
                            
                        <div class="mt-3">
                            <button type="button" class="btn btn-sm border" data-toggle="modal" data-address-id="${newAddress.addedAddress._id}">
                                <i class="fas fa-edit text-success"></i>
                            </button>
                            <button type="button" class="btn btn-sm border delete-address-btn" data-address-id="${newAddress.addedAddress._id}">
                                <i class="fas fa-trash text-danger"></i> 
                            </button>
                        </div>
                    </div>
                    `;
                    // APPEND NEW ADDRESS TO THE ADDRESS LIST
                    document.getElementById('addressList').insertAdjacentHTML('beforeend', addressHtml);
                })
                .catch(function (error) {
                    console.error('Error adding address:', error.response.data.error);
                    if (error.response.status === 400) {
                        Toastify({
                            text: error.response.data.error,
                            duration: 6000,
                            gravity: "top",
                            position: "right",
                            backgroundColor: "grey",
                        }).showToast();
                    } else {
                        Toastify({
                            text: "An error occurred. Try again",
                            duration: 4000,
                            gravity: "top",
                            position: "right",
                            backgroundColor: "red",
                        }).showToast();
                    }
                });
        }
        
    });
    
    /// FUNCTION FOR DELETE ADDRESS
    function handleDeleteAddress(event) {
        if (event.target.classList.contains("delete-address-btn")) {
            const addressId = event.target.getAttribute("data-address-id");
            
            axios.delete(`/delete-address/${addressId}`)
            .then(function (response) {
                if (response.status === 200) {
                    const deletedAddressElement = event.target.closest(".form-check");
                    if (deletedAddressElement) {
                        deletedAddressElement.remove();
                    }
                }
            })
            .catch(function (error) {
                Toastify({
                    text: "An error occurred. Try again",
                    duration: 3000,
                    gravity: "top",
                    position: "right",
                    backgroundColor: "red",
                }).showToast();
            });
        }
    }
    // EVENT LISTENER FOR DELETE BUTTON
    document.getElementById("addressList").addEventListener("click", handleDeleteAddress);


    // FUNCTION TO HANDLE EDIT ADDRESS
    function handleEditAddress(event) {
        if (event.target.classList.contains("edit-address-btn")) {
            const addressId = event.target.getAttribute("data-address-id");
            const address = getAddressById(addressId); // Implement a function to get address details by ID

            if (address) {
                // Populate the edit modal fields with existing address details
                document.getElementById("editName").value = address.name;
                document.getElementById("editAddress").value = address.address;
                document.getElementById("editDistrict").value = address.district;
                document.getElementById("editState").value = address.state;
                document.getElementById("editZip").value = address.zip;
                document.getElementById("editEmail").value = address.email;
                document.getElementById("editPhone").value = address.phone;

                // Show the edit modal
                $('#editAddressModal').modal('show');

                // Update button click event for updating the address
                document.getElementById("updateAddressBtn").addEventListener("click", function() {
                    const updatedName = document.getElementById("editName").value;
                    const updatedAddress = document.getElementById("editAddress").value;
                    const updatedDistrict = document.getElementById("editDistrict").value;
                    const updatedState = document.getElementById("editState").value;
                    const updatedZip = document.getElementById("editZip").value;
                    const updatedEmail = document.getElementById("editEmail").value;
                    const updatedPhone = document.getElementById("editPhone").value;
                    
                    // Prepare the updated data object
                    const updatedData = {
                        name: updatedName,
                        address: updatedAddress,
                        district: updatedDistrict,
                        state: updatedState,
                        zip: updatedZip,
                        email: updatedEmail,
                        phone: updatedPhone
                    };

                    // Make an axios PUT request to update the address
                    axios.put(`/update-address/${addressId}`, updatedData)
                        .then(function (response) {
                            // Update the address details on the page without reloading
                            address.name = updatedName;
                            address.address = updatedAddress;
                            address.district = updatedDistrict;
                            address.state = updatedState;
                            address.zip = updatedZip;
                            address.email = updatedEmail;
                            address.phone = updatedPhone;

                            // Update the address details displayed on the page
                            updateAddressDetails(addressId, address);

                            // Close the edit modal
                            $('#editAddressModal').modal('hide');
                        })
                        .catch(function (error) {
                            console.error("Error updating address:", error);
                        });
                });
            }
        }
    }

    // Function to update address details on the page
    function updateAddressDetails(addressId, updatedAddress) {
        const addressElement = document.querySelector(`[data-address-id="${addressId}"]`);
        if (addressElement) {
            // Update the address details in the HTML
            addressElement.querySelector(".name").textContent = updatedAddress.name;
            addressElement.querySelector(".address").textContent = updatedAddress.address;
            addressElement.querySelector(".district-state-zip").textContent = `${updatedAddress.district}, ${updatedAddress.state}, ${updatedAddress.zip}`;
            addressElement.querySelector(".email").textContent = updatedAddress.email;
            addressElement.querySelector(".phone").textContent = updatedAddress.phone;
        }
    }

    // Event listener for edit buttons
    document.addEventListener("click", handleEditAddress);


</script>

 

 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<script>
    $(document).ready(function() {
        // Initialize Bootstrap tabs
        $('#nav-tab a').on('click', function (e) {
            e.preventDefault();
            $(this).tab('show');
        });
    });
</script>

<!-- Toastify CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css" />

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- Toastify JS -->
<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>


  

  

<!--=======================Javascript============================-->


 <!-- JS here -->
 <script src="js/vendor/jquery-1.12.4.min.js"></script>
 <script src="js/popper.min.js"></script>
 <script src="js/bootstrap.min.js"></script>
 <script src="js/owl.carousel.min.js"></script>
 <script src="js/isotope.pkgd.min.js"></script>
 <script src="js/one-page-nav-min.js"></script>
 <script src="js/slick.min.js"></script>
 <script src="js/jquery.meanmenu.min.js"></script>
 <script src="js/ajax-form.js"></script>
 <script src="js/fontawesome.min.js"></script>
 <script src="js/wow.min.js"></script>
 <script src="js/jquery-ui.js"></script>
 <script src="js/jquery.scrollUp.min.js"></script>
 <script src="js/imagesloaded.pkgd.min.js"></script>
 <script src="js/jquery.magnific-popup.min.js"></script>
 <script src="js/plugins.js"></script>
 <script src="js/main.js"></script>


<!-- -------------------------------------------------------- -->

<!--=== jQuery Modernizr Min Js ===-->
<script src="assets/js/modernizr.js"></script>
<!--=== jQuery Min Js ===-->
<script src="assets/js/jquery-main.js"></script>
<!--=== jQuery Migration Min Js ===-->
<script src="assets/js/jquery-migrate.js"></script>
<!--=== jQuery Popper Min Js ===-->
<script src="assets/js/popper.min.js"></script>
<!--=== jQuery Bootstrap Min Js ===-->
<script src="assets/js/bootstrap.min.js"></script>
<!--=== jQuery Swiper Min Js ===-->
<script src="assets/js/swiper.min.js"></script>
<!--=== jQuery Fancybox Min Js ===-->
<script src="assets/js/fancybox.min.js"></script>
<!--=== jQuery Countdown Min Js ===-->
<script src="assets/js/countdown.js"></script>
<!--=== jQuery Isotope Min Js ===-->
<script src="assets/js/isotope.pkgd.min.js"></script>
<!--=== jQuery Range Slider Min Js ===-->
<script src="assets/js/ion.rangeSlider.min.js"></script>

<!--=== jQuery Custom Js ===-->
<script src="assets/js/custom.js"></script>

</body>


<!-- Mirrored from htmldemo.net/tuime/tuime/account.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 10 Feb 2024 04:43:25 GMT -->
</html>