<!DOCTYPE html>
<html class="no-js" lang="">
  <!-- Mirrored from wphix.com/template/mazia/cart.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 12 Feb 2024 06:04:40 GMT -->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>cart</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="manifest" href="site.html" />
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" />
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="/css/fontawesome.min.css" />
    <link rel="stylesheet" href="/css/jquery-ui.css" />
    <link rel="stylesheet" href="/css/animate.min.css" />
    <link rel="stylesheet" href="/css/magnific-popup.css" />
    <link rel="stylesheet" href="/css/fontawesome-all.min.css" />
    <link rel="stylesheet" href="/css/meanmenu.css" />
    <link rel="stylesheet" href="/css/slick.css" />
    <link rel="stylesheet" href="/css/default.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/responsive.css" />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    />
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/toastify-js"
    ></script>

    <style>
      .incrementButton {
        border: 0.5px solid rgb(162, 162, 162);
        margin-top: 0.4rem;
      }
      .decrementButton {
        border: 0.5px solid rgb(162, 162, 162);
        margin-top: 0.4rem;
      }

      .empty-cart {
      
        text-align: center;
        height: 12.33rem;
        padding: 20px;
        background-color: #f5f5f5;
        border: 1px solid #ddd;
        border-radius: 5px;
        margin-top: 20px;
      }

    </style>
  </head>

  <body>
    <!-- preloader -->
    <!-- <div id="loader-wrapper">
      <div id="loader"></div>
    </div> -->

    <!-- header section start -->
    <header
      class="header header-2 pt-30 pb-30 header-sticky header-static bg-white"
    >
      <div class="container-fluid">
        <div class="header-nav position-relative">
          <div class="row align-items-center">
            <div class="col-xl-5 col-lg-6 hidden-md position-static">
              <div class="header-nav">
                <nav>
                  <ul>
                    <li>
                      <a href="/">
                        <span>Home </span>
                      </a>
                    </li>

                    <li class="position-static">
                      <a href="/shop">
                        <span>Shop</span>
                      </a>
                    </li>

                    <li>
                      <a href="/contact">
                        <span>Contact</span>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-3">
              <div class="logo">
                <a href="index3.html"
                  ><img src="/img/logo/logo1.png" alt=""
                /></a>
              </div>
            </div>

            <div class="col-xl-4 col-lg-3 col-6 col-md-6 col-sm-6 col-9">
              <div class="header-right">
                <ul class="text-right">
                  <% if(!user){ %>
                  <li>
                    <a href="/login" class="account"
                      ><i class="fal fa-user-friends"></i>
                      <article class="account-registar d-inline-block">
                        Login
                      </article></a
                    >
                  </li>
                  <% } %>

                  <li>
                    <a href="/wishlist"
                      ><i class="fal fa-heart active"
                        ><span><%= wishlistProducts?.length %></span></i
                      ></a
                    >
                  </li>
                  <li>
                    <a href="/cart"
                      class="active"
                      ><i class="fal fa-shopping-bag"
                        ><span><%= user?.cart.products.length %></span></i
                      ></a
                    >
                  </li>
                  <li>
                    <a><i class="fal fa-align-right"></i></a>
                    <ul class="submenu bold-content text-right">
                      <li><a href="/userProfile">My Account</a></li>
                      <% if(user){ %>
                      <li><a href="/user/logout">Logout</a></li>
                      <% } %>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="mobile-menu visible-sm">
          <div id="mobile-menu">
            <ul>
              <li><a class="pl-3" href="/">Home</a></li>
              <li><a class="pl-3" href="/shop">Shop</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
          </div>
        </div>
        <!-- /. mobile nav -->
      </div>
    </header>
    <!-- header section end -->

    <!-- shop body section start -->
    <section class="cart-area pt-50 pb-50">
      <div class="container">
        <% if(cart.length > 0){ %>
        <div class="row justify-content-center">
          <div class="col-10">
            <form action="#">
              <div class="table-content table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th class="product-thumbnail">Image</th>
                      <th class="cart-product-name">Product</th>
                      <th class="product-price">Price</th>
                      <th class="product-quantity">Quantity</th>
                      <th class="total">Total</th>
                      <th class="product-remove">Remove</th>
                    </tr>
                  </thead>
                  <% cart.forEach(prod => { %>
                  <tbody>
                    <tr id="productRow-<%= prod._id %>">
                      <td>
                        <div class="table-data">
                          <img src="<%= prod.images[0] %>" width="80" alt="" />
                        </div>
                      </td>

                      <td>
                        <div class="table-data">
                          <h6>
                            <a href="" class="title"><%= prod.name %></a>
                          </h6>
                        </div>
                        <% if(prod.productQTY <= 0) { %>
                        <small class="text-danger">Out of stock</small>
                        <% } %>
                      </td>

                      <td>
                        <div class="table-data">
                          <span class="price"><%= prod.price %></span>
                        </div>
                      </td>

                      <td>
                        <div class="d-flex justify-content-center">
                          <div>
                            <button
                              onclick="quantityMinus(event,'<%= prod._id %>','<%= prod.price %>')"
                              id="buttonCartQTY<%= prod._id %>"
                              class="decrementButton"
                              data-product-id="<%= prod._id %>"
                            >
                              -
                            </button>
                          </div>

                          <div
                            id="quantityArea<%= prod._id %>"
                            class="d-flex justify-content-center"
                          >
                            <input
                              class="mx-1 text-center"
                              id="quantityAre<%= prod._id %>"
                              type="number"
                              disabled
                              min="1"
                              value="<%= prod.quantity %>"
                              style="width: 3rem; height: 2.4rem"
                              data-product-id="<%= prod.productId %>"
                            />
                          </div>

                          <div>
                            <button
                              onclick="quantityPlus(event,'<%= prod._id %>','<%= prod.price %>')"
                              id="buttonCartQTY<%= prod._id %>"
                              class="incrementButton"
                              data-product-id="<%= prod._id %>"
                            >
                              +
                            </button>
                          </div>
                        </div>
                      </td>

                      <td>
                        <div class="table-data">
                          <span class="total" id="total-<%= prod._id %>"
                            ><%= prod.price * prod.quantity %></span
                          >
                        </div>
                      </td>

                      <td class="">
                        <div class="table-data">
                          <button
                            class="close-btn"
                            onclick="removeProduct(event,'<%= prod._id %>')"
                          >
                            <i class="fal fa-times"></i>
                          </button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                  <% }) %>
                </table>
              </div>
            </form>
          </div>
          <input
            type="hidden"
            id="cartData"
            value="<%= JSON.stringify(cart) %>"
          />
        </div>
        <!-- .. -->
        <div class="container">
          <div class="row col-xl-12 justify-content-end">
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-10">

                <div class="col-xl-10 p-2">
                    <div class="cart-widget">
                        <h4 class="title">Cart Totals</h4>
                        <table class="table table-2 no-border">
                        <tbody>
                            <tr>
                            <th>Subtotal</th>
                            <td id="subtotal"><%= subtotal %></td>
                            </tr>
                            <tr>
                            <th>Delivery Charge :</th>
                            <td><%= deliveryCharge %></td>
                            </tr>
                            <tr>
                            <th>Total</th>
                            <td id="total"><%= subtotal %></td>
                            </tr>
                        </tbody>
                        </table>
                        <a
                        href="/checkout"
                        id="checkoutLink"
                        class="mt-3 generic-btn red-hover-btn d-block"
                        >Proceed to Checkout</a
                        >
                    </div>
                </div>
            </div>
          </div>
        </div>
        <% } else { %>
          <div class="d-flex justify-content-center align-items-center empty-cart">
            <h1>Your cart is empty !</h1>
          </div>
        <% } %>
      </div>
    </section>
    <!-- shop body section end -->

    <!--- LINKED AXIOS -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script>
      function quantityPlus(event, productId, price) {
        event.preventDefault();
        let quantityInput = document.getElementById(`quantityAre${productId}`);
        let quantity = parseInt(quantityInput.value);
        quantity++;
        quantityInput.value = quantity;
        updateQuantity(productId, quantity, price);
      }

      function quantityMinus(event, productId, price) {
        event.preventDefault();
        let quantityInput = document.getElementById(`quantityAre${productId}`);
        let quantity = parseInt(quantityInput.value);
        if (quantity > 1) {
          quantity--;
          quantityInput.value = quantity;
          updateQuantity(productId, quantity, price);
        }
      }

      // REMOVE PRODUCTS FROM CART
      function removeProduct(event, productId) {
        event.preventDefault();

        axios
          .delete(`/cart/${productId}`)
          .then((response) => {
            // const productRow = document.getElementById(
            //   `productRow-${productId}`
            // );
            // if (productRow) {
            //   productRow.remove();
            // }
            // const updatedCart = response.data.cart;

            // // UPDATE SUBTOTAL
            // let subtotal = 0;
            // updatedCart.forEach((item) => {
            //   subtotal += item.quantity * item.price;
            // });
            // const subtotalElement = document.getElementById("subtotal");
            // subtotalElement.textContent = subtotal;

            // // UPDATE TOTAL
            // let total = subtotal;
            // const totalElemen = document.getElementById("total");
            // totalElemen.textContent = subtotal;
            window.location.reload()
          })
          .catch((error) => {
            console.error("Error removing product:", error);
          });
      }

      // UPDATE QUANTITY IN CART
      function updateQuantity(productId, newQuantity, price, cart) {
        console.log(productId, newQuantity, price);
        axios
          .post("/cart/update-quantity", {
            productId: productId,
            quantity: newQuantity,
          })
          .then(function (response) {
            const updatedCart = response.data.cart;

            // UPDATL THE TOTAL FOR EACH PRODUCT ROW
            const newTotal = newQuantity * price;
            const totalElement = document.querySelector(`#total-${productId}`);
            totalElement.textContent = newTotal;

            // UPDATE SUBTOTAL
            let subtotal = 0;
            updatedCart.forEach((item) => {
              subtotal += item.quantity * item.price;
            });
            const subtotalElement = document.getElementById("subtotal");
            subtotalElement.textContent = subtotal;

            // UPDATE TOTAL
            let total = subtotal;
            const totalElemen = document.getElementById(`total`);
            totalElemen.textContent = subtotal;
          })
          .catch(function (error) {
            console.log("err response :", error);
            if (error.response.status === 400) {
              Toastify({
                text: error.response.data.error,
                duration: 2000,
                gravity: "top",
                position: "right",
                backgroundColor: "orange",
              }).showToast();
              console.log(error.response.data.quantity);
              document.getElementById(
                `quantityArea${error.response.data.productId}`
              ).value = error.response.data.quantity;
            } else {
              Toastify({
                text: "An error occured try again",
                duration: 2000,
                gravity: "top",
                position: "right",
                backgroundColor: "orange",
              }).showToast();
            }
          });
      }

      // CHECK OUT
      const checkoutLink = document.getElementById("checkoutLink");
      checkoutLink.addEventListener("click", async (event) => {
        event.preventDefault();

        axios
          .get("checkStockAvailability")
          .then((response) => {
            window.location.href = "/checkout";
          })
          .catch((error) => {
            console.log("sdfnjshfk :", error);
            if (error.response.status === 400) {
              window.location.href = "/cart"
              Toastify({
                text: "Product is out of stock",
                duration: 2000,
                gravity: "top",
                position: "right",
                backgroundColor: "orange",
              }).showToast();
            } else {
              Toastify({
                text: "An error occured pls try again",
                duration: 2000,
                gravity: "top",
                position: "right",
                backgroundColor: "orange",
              }).showToast();
            }
          });
      });
    </script>

    <!-- footer section start -->
    <section class="footer">
      <div class="footer-bottom pt-77" style="background-color: #292929">
        <div class="container-1180">
          <div class="footer-bottom-wrapper">
            <div class="footer-bottom-primary pb-60">
              <div class="row">
                <div class="col-xl-5 col-lg-5 col-md-9">
                  <div class="footer-item has-desc">
                    <div class="footer-logo mb-25">
                      <img
                        src="img/logo/logo2.png"
                        width="120"
                        height="31"
                        alt=""
                      />
                    </div>
                    <div class="footer-desc">
                      <p class="mb-10">
                        Sign to the WatchVista store mailing list to receive
                        updates on new arrivals, special offers and other
                        discount information.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-xl-7 col-lg-7 col-md-12">
                  <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-6">
                      <div class="footer-menu">
                        <ul>
                          <li>
                            <a href="/userProfile" class="title">MY ACCOUNT</a>
                          </li>
                          <li><a href="/checkout">Cart</a></li>
                          <li><a href="/shop">Shop</a></li>
                          <li><a href="/wishlist">Wishlist</a></li>
                        </ul>
                      </div>
                    </div>

                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-6">
                      <div class="footer-menu">
                        <ul>
                          <li>
                            <a href="" class="title">Quick Links</a>
                          </li>
                          <li><a href="">Special Offers</a></li>
                          <li><a href="">Gift Cards</a></li>
                          <li><a href="">Privacy Policy</a></li>
                        </ul>
                      </div>
                    </div>

                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 hidden-sm">
                      <div class="footer-menu">
                        <ul>
                          <li>
                            <a href="" class="title">Company Info</a>
                          </li>
                          <li><a href="">About us</a></li>
                          <li>
                            <a href="">Business With Us</a>
                          </li>
                          <li><a href="">Teams of Use</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- footer section end -->

    <!-- JS here -->
    <script src="/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/isotope.pkgd.min.js"></script>
    <script src="/js/one-page-nav-min.js"></script>
    <script src="/js/slick.min.js"></script>
    <script src="/js/jquery.meanmenu.min.js"></script>
    <script src="/js/ajax-form.js"></script>
    <script src="/js/fontawesome.min.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/jquery-ui.js"></script>
    <script src="/js/jquery.scrollUp.min.js"></script>
    <script src="/js/imagesloaded.pkgd.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/plugins.js"></script>
    <script src="/js/main.js"></script>
  </body>

  <!-- Mirrored from wphix.com/template/mazia/cart.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 12 Feb 2024 06:04:40 GMT -->
</html>
