<!DOCTYPE html>
<html class="no-js" lang="">
  <!-- Mirrored from wphix.com/template/mazia/shop3.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 12 Feb 2024 06:04:31 GMT -->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Shop</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="manifest" href="site.html" />
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" />
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="/css/fontawesome.min.css" />
    <link rel="stylesheet" href="/css/jquery-ui.css" />
    <link rel="stylesheet" href="/css/animate.min.css" />
    <link rel="stylesheet" href="/css/magnific-popup.css" />
    <link rel="stylesheet" href="/css/fontawesome-all.min.css" />
    <link rel="stylesheet" href="/css/meanmenu.css" />
    <link rel="stylesheet" href="/css/slick.css" />
    <link rel="stylesheet" href="/css/default.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    />

    <!-- toastify -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    />
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/toastify-js"
    ></script>

    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <style>
    .product-img {
      position: relative;
      overflow: hidden;
    }

    .product-img img {
      transition: transform 0.5s ease;
    }

    .product-img:hover img {
      animation: zoom-in 5s infinite;
    }

    @keyframes zoom-in {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.1);
      }
      100% {
        transform: scale(1);
      }
    }

    /* filter styles */
    .filter-popup {
      position: absolute;
      top: calc(100% + 10px);
      right: 0;
      background: #393939;
      padding: 20px;
      z-index: 999;
      border-radius: 4px;
      display: none;
      max-width: 250px; /* Set maximum width */
      width: 100%;
    }

    .filter-popup.active {
      display: block;
    }

    @media (min-width: 768px) {
      .filter-popup {
        max-width: 250px;
        right: 0;
        left: auto;
      }
    }

    @media (max-width: 767px) {
      /* Hide on screens smaller than 767px */
      .hide-on-small {
        display: none;
      }
    }
  </style>
  <body>
    <!-- preloader -->
    <div id="loader-wrapper">
      <div id="loader"></div>
    </div>

    <!-- header section start -->
    <header
      class="header pt-30 pb-30 header-sticky header-static bg-white"
      style="padding-top: 30px; padding-bottom: 15px; top: 0px; "
    >
      <div class="container-fluid">
        <div class="header-nav position-relative">
          <div class="row align-items-center">
            <div class="col-xl-5 col-lg-5 hidden-md position-static">
              <div class="header-nav">
                <nav>
                  <ul>
                    <li>
                      <a href="/">
                        <span>Home </span>
                      </a>
                    </li>

                    <li class="position-static">
                      <a href="/shop" class="active">
                        <span>Shop</span>
                      </a>
                    </li>

                    <li>
                      <a href="/contact">
                        <span>Contact</span>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-3">
              <div class="logo">
                <a href="/"><img src="/img/logo/logo1.png" alt="" /></a>
              </div>
            </div>

            <div class="col-xl-5 col-lg-5 col-md-8 col-sm-8 col-9">
              <div class="header-right">
                <ul class="text-right">
                  <li style="display: flex; align-items: center">
                    <div
                      id="searchContainer"
                      style="display: flex; align-items: center"
                      class="col-md-1 p-0"
                    >
                      <!-- Search Input and Button for larger screens -->
                      <div id="searchLargeScreen" class="d-none d-sm-flex">
                        <input
                          type="text"
                          name="search"
                          id="searchInput"
                          placeholder="Search..."
                          style="
                            padding: 3px;
                            border-radius: 2px;
                            border: 1px solid #ccc;
                            margin-right: px;
                          "
                        />
                        <button
                          id="searchButton"
                          style="
                            padding: 0.1rem 0.3rem 0.1rem 0.1rem;
                            border: none;
                            border-radius: 2px;
                            background-color: #3e3f3f;
                            color: #fff;
                            cursor: pointer;
                          "
                        >
                          <i class="fal fa-search"></i>
                        </button>
                      </div>
                    </div>
                  </li>
                  <% if(!user){ %>
                  <li class="hide-on-small">
                    <a href="/login" class="account"
                      ><i class="fal fa-user-friends"></i>
                      <article class="account-registar d-inline-block">
                        Login
                      </article></a
                    >
                  </li>
                  <% } %>

                  <li class="hide-on-small">
                    <a href="/wishlist"
                      ><i class="fal fa-heart"
                        ><span id="wishlistCount"><%= wishlistProducts?.length %></span></i
                      ></a
                    >
                  </li>
                  <li class="hide-on-small">
                    <a href="/cart"
                      ><i class="fal fa-shopping-bag"
                        ><span><%= user?.cart.products.length %></span></i
                      ></a
                    >
                  </li>
                  <li>
                    <a><i class="fal fa-align-right"></i></a>
                    <ul class="submenu bold-content text-right">
                      <li><a href="/userProfile">My Account</a></li>
                      <% if(user){ %>
                      <li><a href="/user/logout">Logout</a></li>
                      <% } %>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- /. mobile nav -->
        <div class="mobile-menu visible-sm">
          <div id="mobile-menu">
            <ul>
              <li><a class="pl-3" href="/">Home</a></li>
              <li><a class="pl-3" href="/shop">Shop</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <!-- header section end -->

    <div class="col-12">
      <div id="searchSmallScreen" class="d-flex d-sm-none">
        <input
          type="text"
          class="col-11"
          name="search"
          id="searchInput1"
          placeholder="Search..."
          style="
            padding: 5px;
            border-radius: 2px;
            border: 1px solid #ccc;
            margin-right: 1px;
            width: -webkit-fill-available;
          "
        />
        <button
          id="searchButtonSmall"
          class="col-1"
          style="
            padding: 5px 6px 5px 3px;
            border: none;
            border-radius: 2px;
            background-color: #3e3f3f;
            color: #fff;
            cursor: pointer;
          "
        >
          <i class="fal fa-search"></i>
        </button>
      </div>
    </div>

      <div class="container-fluid">
        <nav aria-label="breadcrumb" class="mb-40">
          <ol class="breadcrumb p-0 m-0"></ol>
        </nav>
        <div class="shop-wrapper">
          <div class="row">
            <div class="col-12">
              <div class="filter-heading">
                <div class="row justify-content-end px-4">
                  <div class="sorting d-inline-block">
                    <select name="sort" id="shop-sort">
                      <option value="Default">Default sorting</option>
                      <option value="latest">Sort by latest</option>
                      <option value="low to high">
                        Sort by price: low to high
                      </option>
                      <option value="high to low">
                        Sort by price: high to low
                      </option>
                    </select>
                  </div>

                  <div class="filter">
                    <h6 class="d-inline-block filter-widget-toggle">Filter</h6>
                    <div class="filter-popup" style="display: none">
                      <div class="row justify-content-center">
                        <div class="">
                          <div class="widget">
                            <h4 class="mb-30 text-light">Category</h4>
                            <div class="category-list">
                              <% allCategories.forEach(category => { %>
                              <ul>
                                <li>
                                  <a
                                    href="#"
                                    onclick="getProductsByCategory('<%= category %>',event)"
                                    ><%= category %></a
                                  >
                                </li>
                              </ul>
                              <% }) %>
                            </div>
                          </div>
                        </div>
                        <!-- Add more filter options here if needed -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="filter-content">
                <div class="tab-content">
                  <div
                    id="productList"
                    data-products="<%- JSON.stringify(products) %>"
                  >
                    <div class="tab-pane fade show active" id="shop-tab-3">
                      <div class="product-wrapper mt-55">
                        <div class="row" id="productDisplay">
                          <!-- PRODUCT LIST -->
                          <% products.forEach(product=>{ %>
                          <div
                            class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12"
                          >
                            <div class="product-box mb-40">
                              <div class="product-box-wrapper">
                                <div class="product-img">
                                  <a
                                    href="/products?productId=<%= product._id %>"
                                    class="product-category"
                                  >
                                    <img
                                      src="<%= product.productImages[0] %>"
                                      class="w-100"
                                      alt="<%= product.productName %>"
                                    />
                                  </a>
                                </div>

                                <div class="product-desc pb-20">
                                  <div class="product-desc-top">
                                    <div class="categories">
                                      <a
                                        href="/products?productId=<%= product._id %>"
                                        class="product-category"
                                        ><span
                                          ><%= product.productCategory %></span
                                        ></a
                                      >
                                    </div>
                                    <button
                                      class="btn btn-link"
                                      onclick="addToWishlist(event, '<%= product._id %>')"
                                    >
                                      <div class="wishlist float-right">
                                        <% if(user &&
                                        user.wishlist.products.some( wProduct =>
                                        wProduct.productId.toString() ===
                                        product._id.toString() )) { %>
                                        <i
                                          id="heartIcon-<%= product._id %>"
                                          class="fas fa-heart fa-lg text-danger"
                                        ></i>
                                        <% } else { %>
                                        <i
                                          id="heartIcon-<%= product._id %>"
                                          class="fal fa-heart fa-lg"
                                        ></i>
                                        <% } %>
                                      </div>
                                    </button>
                                  </div>
                                  <a
                                    href="/products?productId=<%= product._id %>"
                                    class="product-title"
                                    ><%= product.productName %></a
                                  >
                                  <div class="price-switcher">
                                    <span class="price switcher-item"
                                      >₹ <%= product.productPrice %></span
                                    >
                                    <span class="price switcher-item"
                                      >₹ <%= product.productPrice %></span
                                    >
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <% }); %> 
                        </div>

                        <div class="d-flex justify-content-center mt-20 mb-20">
                          <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-end">
                              <% if(hasPrevPage) { %>
                              <li class="page-item">
                                <a class="page-link bg-dark text-white" href="?page=<%= prevPage %>" aria-label="Previous">
                                  <span aria-hidden="true">&laquo;</span>
                                </a>
                              </li>
                              <% } else { %>
                              <li class="page-item disabled">
                                <a class="page-link bg-light text-dark" href="#" tabindex="-1" aria-label="Previous">
                                  <span aria-hidden="true">&laquo;</span>
                                </a>
                              </li>
                              <% } %>
                        
                              <% for(let i=1; i<=lastPage; i++) { %>
                              <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                                <a class="page-link <%= i === currentPage ? 'bg-dark text-white' : 'bg-light text-dark' %>" href="?page=<%= i %>"><%= i %></a>
                              </li>
                              <% } %>
                        
                              <% if(hasNextPage) { %>
                              <li class="page-item">
                                <a class="page-link bg-dark text-white" href="?page=<%= nextPage %>" aria-label="Next">
                                  <span aria-hidden="true">&raquo;</span>
                                </a>
                              </li>
                              <% } else { %>
                              <li class="page-item disabled">
                                <a class="page-link bg-light text-dark" href="#" tabindex="-1" aria-label="Next">
                                  <span aria-hidden="true">&raquo;</span>
                                </a>
                              </li>
                              <% } %>
                            </ul>
                          </nav>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- footer section start -->
      <section class="footer">
        <div class="footer-bottom pt-77" style="background-color: #292929">
          <div class="container-1180">
            <div class="footer-bottom-wrapper">
              <div class="footer-bottom-primary pb-60">
                <div class="row">
                  <div class="col-xl-5 col-lg-5 col-md-9">
                    <div class="footer-item has-desc">
                      <div class="footer-logo mb-25">
                        <img
                          src="img/logo/logo2.png"
                          width="120"
                          height="31"
                          alt=""
                        />
                      </div>
                      <div class="footer-desc">
                        <p class="mb-10">
                          Sign to the WatchVista store mailing list to receive
                          updates on new arrivals, special offers and other
                          discount information.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-7 col-lg-7 col-md-12">
                    <div class="row">
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-6">
                        <div class="footer-menu">
                          <ul>
                            <li>
                              <a href="/userProfile" class="title"
                                >MY ACCOUNT</a
                              >
                            </li>
                            <li><a href="/checkout">Cart</a></li>
                            <li><a href="/shop">Shop</a></li>
                            <li><a href="/wishlist">Wishlist</a></li>
                          </ul>
                        </div>
                      </div>

                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-6">
                        <div class="footer-menu">
                          <ul>
                            <li>
                              <a href="" class="title">Quick Links</a>
                            </li>
                            <li><a href="">Special Offers</a></li>
                            <li><a href="">Gift Cards</a></li>
                            <li><a href="">Privacy Policy</a></li>
                          </ul>
                        </div>
                      </div>

                      <div
                        class="col-xl-4 col-lg-4 col-md-4 col-sm-4 hidden-sm"
                      >
                        <div class="footer-menu">
                          <ul>
                            <li>
                              <a href="" class="title">Company Info</a>
                            </li>
                            <li><a href="">About us</a></li>
                            <li>
                              <a href="">Business With Us</a>
                            </li>
                            <li><a href="">Teams of Use</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- footer section end -->
      <script>
        // Toggle visibility of search input and button for larger screens
        const searchContainer = document.getElementById("searchContainer");
        const searchLargeScreen = document.getElementById("searchLargeScreen");
        const searchIconSmallScreen = document.getElementById(
          "searchIconSmallScreen"
        );

        function toggleSearchInput() {
          if (window.innerWidth >= 700) {
            searchLargeScreen.style.display = "flex";
            searchIconSmallScreen.style.display = "none";
          } else {
            // searchLargeScreen.style.display = "none";
            searchIconSmallScreen.style.display = "flex";
          }
        }

        window.onload = toggleSearchInput;
        window.onresize = toggleSearchInput;
      </script>

      <script>
        // Function to fetch products by category
        function getProductsByCategory(category, event) {
          event.preventDefault(); // Prevent default behavior of anchor tag
          console.log("function called");
          axios
            .get(`/products/${category}`)
            .then((response) => {
              console.log(response);
              displayProducts(
                response.data.filteredProducts,
                response.data.user
              );
            })
            .catch((error) => {
              console.error(error);
            });
        }

        const shopSort = document.getElementById("shop-sort");
        shopSort.addEventListener("change", (event) => {
          const selectedOption = event.target.value;
          sortProducts(selectedOption);
        });

        function sortProducts(selectedOption) {
          console.log("selected option : ", selectedOption);
          axios
            .get(`/products/sort/${selectedOption}`)
            .then((response) => {
              console.log("lkjeflskdj :", response);
              displayProducts(response.data.allProducts, response.data.user);
            })
            .catch((error) => {
              console.error(error);
            });
        }

        // SEARCH FUNCTION
        // Function to handle search functionality
        function handleSearch() {
          const inputValue = document.getElementById("searchInput").value;

          if(inputValue === ""){
            return false;
          }

          axios
            .get(`/products/search/${inputValue}`)
            .then((response) => {
              console.log(response);
              displayProducts(
                response.data.filteredProducts,
                response.data.user
              );
              document.getElementById("searchInput").value = "";
            })
            .catch((error) => {
              console.error(error);
            });
        }

        function handleSearch2() {
          const inputValue = document.getElementById("searchInput1").value;

          if(inputValue === ""){
            return false;
          }
          
          axios
            .get(`/products/search/${inputValue}`)
            .then((response) => {
              console.log(response);
              displayProducts(
                response.data.filteredProducts,
                response.data.user
              );
              document.getElementById("searchInput1").value = "";
            })
            .catch((error) => {
              console.error(error);
            });
        }

        // Add event listener to the first button
        document
          .getElementById("searchButton")
          .addEventListener("click", handleSearch);

        // Add event listener to the second button
        document
          .getElementById("searchButtonSmall")
          .addEventListener("click", handleSearch2);

        // Function to display products on the page
        function displayProducts(products, user) {
          const productDisplay = document.getElementById("productDisplay");
          productDisplay.innerHTML = ""; // Clear existing products

          if (products.length === 0) {
            // If no products, display a message
            const noProductMessage = document.createElement("div");
            noProductMessage.textContent = "No products available.";
            productDisplay.appendChild(noProductMessage);
            return; // Exit function
          }

          products.forEach((product) => {
            // Create elements for product components
            const productDiv = document.createElement("div");
            productDiv.classList.add(
              "col-xl-3",
              "col-lg-3",
              "col-md-4",
              "col-sm-6",
              "col-12"
            );

            const productBox = document.createElement("div");
            productBox.classList.add("product-box", "mb-40");

            const productBoxWrapper = document.createElement("div");
            productBoxWrapper.classList.add("product-box-wrapper");

            const productImg = document.createElement("div");
            productImg.classList.add("product-img");

            const imgLink = document.createElement("a");
            imgLink.href = `/products?productId=${product._id}`;

            const img = document.createElement("img");
            img.src = product.productImages[0];
            img.classList.add("w-100");
            img.alt = product.productName;

            imgLink.appendChild(img);
            productImg.appendChild(imgLink);

            const productDesc = document.createElement("div");
            productDesc.classList.add("product-desc", "pb-20");

            const productDescTop = document.createElement("div");
            productDescTop.classList.add("product-desc-top");

            const categories = document.createElement("div");
            categories.classList.add("categories");
            const categoryLink = document.createElement("a");
            categoryLink.href = `/products?productId=${product._id}`;
            categoryLink.classList.add("product-category");
            const categorySpan = document.createElement("span");
            categorySpan.textContent = product.productCategory;
            categoryLink.appendChild(categorySpan);
            categories.appendChild(categoryLink);

            const wishlistButton = document.createElement("button");
            wishlistButton.classList.add("btn", "btn-link");
            wishlistButton.onclick = function () {
              addToWishlist(event, product._id);
            };
            const wishlistDiv = document.createElement("div");
            wishlistDiv.classList.add("wishlist", "float-right");
            const wishlistIcon = document.createElement("i");
            wishlistIcon.id = `heartIcon-${product._id}`;
            wishlistIcon.classList.add("fal", "fa-heart", "fa-lg");
            wishlistDiv.appendChild(wishlistIcon);
            wishlistButton.appendChild(wishlistDiv);

            const productTitle = document.createElement("a");
            productTitle.href = `/products?productId=${product._id}`;
            productTitle.classList.add("product-title");
            productTitle.textContent = product.productName;

            const priceSwitcher = document.createElement("div");
            priceSwitcher.classList.add("price-switcher");
            const priceSpan1 = document.createElement("span");
            priceSpan1.classList.add("price", "switcher-item");
            priceSpan1.textContent = `₹ ${product.productPrice}`;
            const priceSpan2 = document.createElement("span");
            priceSpan2.classList.add("price", "switcher-item");
            priceSpan2.textContent = `₹ ${product.productPrice}`;

            // Assemble the product components
            productDescTop.appendChild(categories);
            productDescTop.appendChild(wishlistButton);
            productDesc.appendChild(productDescTop);
            productDesc.appendChild(productTitle);
            priceSwitcher.appendChild(priceSpan1);
            priceSwitcher.appendChild(priceSpan2);
            productDesc.appendChild(priceSwitcher);

            productBoxWrapper.appendChild(productImg);
            productBoxWrapper.appendChild(productDesc);
            productBox.appendChild(productBoxWrapper);
            productDiv.appendChild(productBox);

            // Append the product to the display container
            productDisplay.appendChild(productDiv);

            // Reload wishlist icon status
            if (
              user &&
              user.wishlist.products.some(
                (wProduct) =>
                  wProduct.productId.toString() === product._id.toString()
              )
            ) {
              wishlistIcon.classList.add("text-danger", "fas");
            }
          });
        }

        // ADD TO WISHLIST
        function addToWishlist(event, productId) {
          event.preventDefault();
          axios
            .post("/products/addToWishlist", { productId })
            .then((response) => {
              console.log(response);
              // Get the corresponding heart icon element
              const heartIcon = document.getElementById(
                `heartIcon-${productId}`
              );
              // Check if the product was added or removed from wishlist
              if (
                response.data.message ===
                "Product added to wishlist successfully"
              ) {
                heartIcon.classList.remove("fal");
                heartIcon.classList.add("fas");
                heartIcon.classList.add("text-danger");

                let wishlistCount = document.getElementById('wishlistCount')
                let count = parseFloat(wishlistCount.textContent)
                wishlistCount.textContent = count +=1

                Toastify({
                  text: "Product added to wishlist",
                  duration: 2000,
                  gravity: "top",
                  position: "right",
                  backgroundColor: "black",
                }).showToast();
              } else if (
                response.data.message ===
                "Product removed from wishlist successfully"
              ) {
                // Change heart icon to regular red heart
                heartIcon.classList.remove("fas");
                heartIcon.classList.remove("text-danger");
                heartIcon.classList.add("fal");

                let wishlistCount = document.getElementById('wishlistCount')
                let count = parseFloat(wishlistCount.textContent)
                wishlistCount.textContent = count -=1

                Toastify({
                  text: "Product removed from wishlist",
                  duration: 2000,
                  gravity: "top",
                  position: "right",
                  backgroundColor: "black",
                }).showToast();
              }
            })
            .catch((error) => {
              console.log("sjfjskf", error);
              if (error.response.data.error === "User not found") {
                Toastify({
                  text: "Please login for wishlisting a product",
                  duration: 3000,
                  gravity: "top",
                  position: "right",
                  // backgroundColor: "black",
                }).showToast();
              }
            });
        }
      </script>

      <script>
        $(document).ready(function () {
          $(".filter-widget-toggle").click(function () {
            $(".filter-popup").toggleClass("active");
          });

          // Clicking outside the filter popup closes it
          $(document).click(function (event) {
            if (!$(event.target).closest(".filter").length) {
              $(".filter-popup").removeClass("active");
            }
          });
        });

        ////////////////
        $(document).ready(function () {
          $("#searchIcon").click(function () {
            $("#smallSearchPopup").toggle();
          });
        });
      </script>

      <!-- JS here -->
      <script src="/js/vendor/jquery-1.12.4.min.js"></script>
      <script src="/js/popper.min.js"></script>
      <script src="/js/bootstrap.min.js"></script>
      <script src="/js/owl.carousel.min.js"></script>
      <script src="/js/isotope.pkgd.min.js"></script>
      <script src="/js/one-page-nav-min.js"></script>
      <script src="/js/slick.min.js"></script>
      <script src="/js/jquery.meanmenu.min.js"></script>
      <script src="/js/ajax-form.js"></script>
      <script src="/js/fontawesome.min.js"></script>
      <script src="/js/wow.min.js"></script>
      <script src="/js/jquery-ui.js"></script>
      <script src="/js/jquery.scrollUp.min.js"></script>
      <script src="/js/imagesloaded.pkgd.min.js"></script>
      <script src="/js/jquery.magnific-popup.min.js"></script>
      <script src="/js/plugins.js"></script>
      <script src="/js/main.js"></script>

      <!-- Mirrored from wphix.com/template/mazia/shop3.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 12 Feb 2024 06:04:31 GMT -->
    </div>
  </body>
</html>
